@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
  /* border: 2px solid black; */
  /* background-image: url(/public/images/snowy.jpg); */
  
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 40px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #FFFFFF};



body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.App {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  transition: background-image 0.5s ease-in-out;
}

.weather-container {
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  width: 200px;
}

.search-button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #00050b;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.search-button:hover {
  background-color: #0056b3;
}

.temp-toggle {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #dbe9de;
  color: rgb(22, 1, 1);
  cursor: pointer;
  font-size: 20px;
}

.temp-toggle:hover {
  background-color: #218838;
}

h1 {
  margin: 10px 0;
  font-size: 2em;
}

p {
  margin: 25px 0;
  font-size: 1.2em;
}
